/*--------------------------------------------------
  VARIABLES
--------------------------------------------------*/
$lightBlue: #1B9BC2;
$darkBlue: #436A87;
$darkestBlue: #063161;
$lightGreen: #7EA785;
$lightBrown: #999999;
$darkBrown: #1B1310;
$turquoise: #07A7A5;